body{
    background-color: #10131D
}

.firstb{
    background-color: #151515;
}

.frirstimg{
    height:  40px;
    margin-top: -7px;
}

.ser{
    width: 300px;
    padding-top: 4px;
    padding-left: 17px;
    padding-bottom: 4px;
    border-radius: 10px;
    border: none;
}

.serbot{
    background-color: #FFC107;
    border-radius: 10px;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    margin-left: -19px;
}

.signin{
    text-decoration: none;
    background-color: #FFC107;
    color: black;
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
}

.signup{
    text-decoration: none;
    color: white;
}

.drop12{
    background-color: #151515;
    border: none;
}

.sopic{
    color: white;
    cursor: pointer;
}

.navlink{
    color: #AFB9B9;
    cursor: pointer;
    margin-left: 10px;
}

.navlink:hover{
    color: #FFC107;
}

.slidimg{
    height: 750px;
}
.bslidbot{
    background-color: #10131D;
    margin-right: 45%;
    margin-left: 45%;
    border-radius: 20px;
}

.car{
    background-image: url(../img/bg_shape.png);
}

.ulia{
    list-style: none;
    display: flex;
}

.caraa{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.linnn{
    background-color: white;
    height: 21px;
    width: 3px;
    position: absolute;
    margin-left: 65px;
    margin-top: 6px;
}

.linnn2{
    background-color: white;
    height: 21px;
    width: 3px;
    position: absolute;
    margin-left: 211px;
    margin-top: 6px;
}

.cardimg{
    height: 400px;
    transition: all .7s;

}

.cardh3{
    color: white;
    cursor: pointer;
}

.cardp{
    color: #FFC107;
}

.imghid{
    background-color: #FFC107;
    padding: 28px;
    width: 269px;
    position: absolute;
    margin-top: -81px;
    display: none;
    transition: all 0.3s ease-in-out;
}

.cardimg:hover + .imghid{
    display: block;
}

.cardimg:hover {
    margin-top: -15px;
}

.bag{
    background-image: url(../img/cg-fl_01.jpg);
    height: 500px;
    width: 900px;
    margin-left: 50px;
}

.bag2{
    background-image: url(../img/cg-fl_03.jpg);
    height: 500px;
    width: 900px;
}

.bagp{
    text-align: end;
    font-family: cursive;
    margin-top: 150px;
}

.bagh1{
    text-align: end;
    font-family: cursive;
    margin-top: -18px;
}

.bagp2{
    text-align: end;
    color: #464C53;
    font-family: cursive;
}

.baga{
    text-decoration: none;
    color:#3e3b3b;
    margin-left: 700px;
    border-style: solid;
    border-radius: 30px;
    padding: 9px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    transition: all .7s;
    display: inline-block;
}

.baga:hover{
    background-color: #3e3b3b;
    color: white;
    border-color:#3e3b3b;
}


.bag4{
    background-image: url(../img/cg-fl_04.jpg);
    height: 500px;
    width: 900px;
    margin-left: 50px;
}

.bag3{
    background-image: url(../img/cg-fl_02.jpg);
    height: 500px;
    width: 900px;
}

.sec5a{
    text-decoration: none;
    border-style: solid;
    color: white;
    border-radius: 5px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    border-width: 1px;
    transition: all .7s;
}

.sec5a:hover{
    color: #10131D;
    background-color: white;
}

.sec5h3{
    color: white;
}

.sec5p1{
    display: contents;
    color: #17a2b8;
    font-size: 15px;
}
.sec5p2{
    color: white;

}

#sec5ico{
    color: #17a2b8;
}

.fotim{
    height: 50px;
}

.fotp{
    color: #AFB9B9;

}

#fotico{
    color: #AFB9B9;
}


#fotico2{
    color: #FFC107;
}